body {
  background-color: lightgray;
  box-sizing: border-box;
  
}



.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
}

.sub-content {
  display: flex;
  background-color: white;
  flex-flow: column wrap;
  padding: 15px 15px 25px 15px;
  border-radius: 5%;
  justify-content: center;
  text-align: center;
  height: 450px;
}


img {
  border-radius: 3%;
  width: 290px;
  height: 280px;
}

#first-parragraph {
 /*  margin: 15px 0px 0px 35px; */
  font-weight: 700;
  font-size: 22px;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 1px;
}

#second-parragraph {
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
  margin-left: 5px;
  font-size: 15px;
}

.attribution {
  margin-top: 15px;
}


